nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container.text-xs-center
    a.navbar-brand(href='index')
      img(src='/img/logo2.png', width='150px', height='100px')
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item.nav-link.active
          a.nav-link(aria-current='page', href='index') Inicio
        li.nav-item.nav-link.active
          a.nav-link(href='/album') Mostra Fotogr&aacute;fica Beleza Negra Resiste
        li.nav-item.nav-link
          a.nav-link(href='login') Modulo Administrativo