<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="/bscss/bootstrap.min.css" />
    <script src="/jquery/jquery.js"></script>
    <script src="/bsjs/bootstrap.min.js"></script>
    <script src="/popperjs/popper.min.js"></script>
    <script src="/publico/js/form-album.js"></script>
    <script src="/publico/js/form-validation.js"></script>
    <link href="/publico/css/albumcss.css" rel="stylesheet" />
    <title>Negritude em Debate</title>
    <link href="/publico/css/carousel.css" rel="stylesheet" />
</head>
<header>
    <div id="header"></div>
</header>

<body>
    <div class="container"></div>
    <main>
        <div class="container">
            <div class="carousel slide" id="myCarousel" data-bs-ride="carousel">
                <div class="carousel-indicators"><button class="active" type="button" data-bs-target="#myCarousel"
                        data-bs-slide-to="0" aria-current="true" aria-label="Slide 1"></button><button type="button"
                        data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button><button
                        type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active"><img src="/img/carousel1.jpg" />
                        <div class="container">
                            <div class="carousel-caption text-start">
                                <h1>Personalidades Negras.</h1>
                                <p>A beleza negra resiste.</p>
                                <p><a class="btn btn-lg btn-primary" href="album">Crie seu album</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item"><img src="/img/carousel2.jpg" />
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>Personalidades Negras.</h1>
                                <p>A beleza negra resiste.</p>
                                <p><a class="btn btn-lg btn-primary" href="album">Crie seu album</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item"><img src="/img/carousel3.jpg" />
                        <div class="container">
                            <div class="carousel-caption text-end">
                                <h1>Personalidades Negras.</h1>
                                <p>A beleza negra resiste.</p>
                                <p><a class="btn btn-lg btn-primary" href="album">Crie seu album</a></p>
                            </div>
                        </div>
                    </div>
                </div><button class="carousel-control-prev" type="button" data-bs-target="#myCarousel"
                    data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span
                        class="visually-hidden">Voltar</span></button><button class="carousel-control-next"
                    type="button" data-bs-target="#myCarousel" data-bs-slide="next"><span
                        class="carousel-control-next-icon" aria-hidden="true"></span><span
                        class="visually-hidden">Proximo</span></button>
            </div>
        </div><!-- hr.featurette-divider-->
    </main>
    <div class="container">
        <div class="row featurette">
            <div class="col-md-7">
                <h1 class="featurette-heading">Hist&oacute;ria</h1>
                <p class="lead" align="justify">O projeto &ldquo;Negritude em Debate MS&rdquo; (Cpaq/UFMS &ndash;
                    Neabi/IFMS/CG) tem objetivo contribuir para reflex&atilde;o, para valoriza&ccedil;&atilde;o da
                    cultura negra no Mato Grosso do Sul, assim como, contribuir para o desenvolvimento da
                    tem&aacute;tica &quot;Hist&oacute;ria da &Aacute;frica e Cultura Afro-brasileira&quot; nas escolas
                    da rede b&aacute;sica de ensino, nos Institutos Federais do Mato Grosso do Sul (IFMS) e na
                    Universidade Federal do Mato Grosso do Sul (UFMS). Para isso, elaborar material audiovisual para ser
                    trabalhado nas institui&ccedil;&otilde;es p&uacute;blicas (rede b&aacute;sica de ensino, IFMS e
                    UFMS); Dialogar com os professores por meio de oficinas/cursos/palestras e outras atividades que
                    estejam ligadas ao tema da ra&ccedil;a e do g&ecirc;nero. Dentre elas, a mostra fotogr&aacute;fica
                    intitulada &ldquo;Beleza Negra Resiste&rdquo;, oficina de pintura org&acirc;nica e Oficina
                    pedag&oacute;gica. O foco do material audiovisual &eacute; de trabalhar com as Comunidades
                    Quilombolas de Mato Grosso do Sul, entre elas, Comunidade Negra Rural Quilombola da Furna dos
                    Baianos (Aquidauana/MS), a Comunidade Remanescente de Quilombos Tia Eva (CG) e a Furnas do
                    Dion&iacute;sio (CG).</p>
            </div>
            <div class="col-md-5">
                <h4 class="featurette-heading"></h4><img src="/img/logo2.png" width="500" height="500" />
            </div>
        </div>
        <hr class="featurette-divider" />
        <div class="row featurette">
            <div class="col-md-12">
                <h1 class="featurette-heading">Acompanhe algumas a&ccedil;&otilde;es do Negritude em Debate</h1><br />
            </div>
            <div class="col-md-7">
                <h4>Mostra Fotogr&aacute;fica Beleza Negra Resiste 2020</h4>
                <p class="lead" align="justify">O projeto tem como objetivo visibilizar corporeidades outras que se
                    apresentam fora do padr&atilde;o est&eacute;tico europeu, como a beleza, a cultura e a
                    ancestralidade negra existentes no Mato Grosso do Sul e que foram historicamente apagadas.
                    Permitindo com isso que esses sujeitos sociais, negras e negros, se auto identifiquem e consigam
                    romper com as estruturas col&ocirc;nias e racistas que persistem ainda no s&eacute;culo XXI.</p>
            </div>
            <div class="col-md-5"><iframe width="460" height="315" src="https://www.youtube.com/embed/SBe5tBAVY_Y"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen=""></iframe>
                <p> </p>
            </div>
        </div>
        <div class="row featurette">
            <div class="col-md-7"><br />
                <h4>Palestras, oficinas e capacita&ccedil;&atilde;o antirracista </h4>
                <p class="lead" align="justify">O projeto tem como objetivo visibilizar corporeidades outras que se
                    apresentam fora do padr&atilde;o est&eacute;tico europeu, como a beleza, a cultura e a
                    ancestralidade negra existentes no Mato Grosso do Sul e que foram historicamente apagadas.
                    Permitindo com isso que esses sujeitos sociais, negras e negros, se auto identifiquem e consigam
                    romper com as estruturas col&ocirc;nias e racistas que persistem ainda no s&eacute;culo XXI.</p>
            </div>
            <div class="col-md-5"><iframe width="460" height="315" src="https://www.youtube.com/embed/GrmVEbrWBic"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen=""></iframe>
                <p></p>
            </div>
        </div>
        <div class="row featurette">
            <div class="col-md-7"><br />
                <h4>Semana da Consci&ecirc;ncia Negra </h4>
                <p class="lead" align="justify">As atividades propostas na Semana da Consci&ecirc;ncia Negra objetivam
                    evidenciar a cultura, a hist&oacute;ria e sobretudo as tantas lutas do povo negro. O evento traz
                    rodas de conversa, palestras, teatro, m&uacute;sica, dan&ccedil;a e principalmente, agregado a tudo
                    isso, informa&ccedil;&atilde;o e conscientiza&ccedil;&atilde;o.</p>
            </div>
            <div class="col-md-5"><img src="/img/semana.jpg" width="460" height="315"
                    href="https://www.facebook.com/media/set/?vanity=negritudeemdebatems&amp;set=a.398413992012099" />
            </div>
        </div>
        <hr class="featurette-divider" />
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Conhe&ccedil;a a nossa equipe</h2><br />
            </div>
            <div class="container"></div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="lead" align="justify"><b>F&aacute;bio Luiz Faria da Silva</b></p><img src="/img/fabio.png"
                    width="300" height="200" />
                <p class="lead" align="justify">Possui gradua&ccedil;&atilde;o em Engenharia da
                    Computa&ccedil;&atilde;o, especializa&ccedil;&atilde;o em Doc&ecirc;ncia e Licenciatura
                    Pedag&oacute;gica em Hist&oacute;ria. Atualmente &eacute; professor efetivo no IFMS na &aacute;rea
                    de Desenvolvimento/Desenvolvimento Web e membro do NEABI. &Eacute; ativista em movimentos
                    sociais e amante das artes, em especial, a m&uacute;sica.</p>
            </div>
            <div class="col-md-4">
                <p class="lead" align="justify"><b> Ana Paula Archanjo Batarce</b></p><img src="/img/ana.jpeg"
                    width="300" height="200" />
                <p class="lead" align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa
                    qui officia deserunt mollit anim id est laborum..</p>
            </div>
            <div class="col-md-4">
                <p class="lead" align="justify"><b>Diego Aparecido Cafola</b></p><img src="/img/cafola.jpg" width="300"
                    height="200" />
                <p class="lead" align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa
                    qui officia deserunt mollit anim id est laborum..</p><br />
                <div class="container"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="lead" align="justify"><b>Thamires</b></p><img src="/img/thamires.jpeg" width="300"
                    height="200" />
                <p class="lead" align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa
                    qui officia deserunt mollit anim id est laborum..</p>
            </div>
            <div class="col-md-4">
                <p class="lead" align="justify"><b> Francisco Givanildo dos Santos</b></p><img src="/img/francisco.jpeg"
                    width="300" height="200" />
                <p class="lead" align="justify">Professor da Educa&ccedil;&atilde;o B&aacute;sica (Estadual e
                    Municipal),
                    h&aacute; 27 anos. Formado em Licenciatura Plena em Hist&oacute;ria,
                    Especializa&ccedil;&atilde;o em Hist&oacute;ria da Am&eacute;rica Latina e Mestrado
                    em Educa&ccedil;&atilde;o. Representante sindical de base e atuante
                    na luta da categoria pela valoriza&ccedil;&atilde;o profissional e
                    militante dos movimentos sociais, em especial na pauta
                    dos direitos humanos.</p>
            </div>
            <div class="col-md-4">
                <p class="lead" align="justify"><b>Alessandro Riquelme</b></p><img src="/img/semfoto.jpg" width="300"
                    height="200" />
                <p class="lead" align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa
                    qui officia deserunt mollit anim id est laborum..</p><br />
                <div class="container"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="lead" align="justify"><b>Jussara</b></p><img src="/img/semfoto.jpg" width="300"
                    height="200" />
                <p class="lead" align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa
                    qui officia deserunt mollit anim id est laborum..</p>
            </div>
            <div class="col-md-4">
                <p class="lead" align="justify"><b> Roberto</b></p><img src="/img/roberto.jpeg" width="300"
                    height="200" />
                <p class="lead" align="justify">Meu nome &eacute; Roberto Pereira de Freitas Neto,
                    mas todo mundo me chama s&oacute; de Neto. Tenho 15 anos e
                    estou cursando Inform&aacute;tica l&aacute; no IFMS. Sou bolsista do
                    projeto Negritude em Debate, no qual fa&ccedil;o parte da equipe
                    de produ&ccedil;&atilde;o audiovisual. Tamb&eacute;m fa&ccedil;o pesquisas sobre os
                    quilombolas aqui do MS e ajudo o projeto no que puder
                    aqui =).</p>
            </div>
            <div class="col-md-4">
                <p class="lead" align="justify"><b>Sabrina</b></p><img src="/img/semfoto.jpg" width="300"
                    height="200" />
                <p class="lead" align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa
                    qui officia deserunt mollit anim id est laborum..</p>
            </div>
        </div>
        <hr class="featurette-divider" />
        <div class="container marketing">
            <h4 style="text-align: center; padding: auto;">Desenvolvedores</h4>
            <p> </p>
            <div class="row">
                <div class="col-lg-4"><img class="bd-placeholder-img rounded-circle" src="/img/dev1.jpg" width="70"
                        height="70" preserveaspectratio="xMidYMid slice" />
                    <h4>Luiz Ricardo</h4>
                </div>
                <div class="col-lg-4"><img class="bd-placeholder-img rounded-circle" src="/img/dev2.jpg" width="70"
                        height="70" preserveaspectratio="xMidYMid slice" />
                    <h4>Bruno Vieira</h4>
                </div>
                <div class="col-lg-4"><img class="bd-placeholder-img rounded-circle" src="/img/dev3.jpg" width="70"
                        height="70" preserveaspectratio="xMidYMid slice" />
                    <h4>F&aacute;bio Luiz</h4>
                </div>
            </div>
        </div>
</body>
<div id="footer"></div>

</html>